/* Init */
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: var(--text-color);
}

/* Header */
#header {
  background-color: #9ba4b5;
}

/* First Header */
.first-header {
  display: flex;
  justify-content: space-between;
  font-size: 1.6rem;
}

.first-header__slogan {
  font-weight: 500;
  margin: 10px 0;
}

.first-header__socials {
  margin: 10px 0;
}

.social-link > i {
  color: var(--black-color);
}

.social-link > i:first-child {
  margin-right: 10px;
}

/* Second Header */
.second-header {
  display: flex;
  justify-content: center;
  align-items: center;
}
.second-header__logo {
  border-radius: 2px;
  overflow: hidden;
}
.logo-img {
  width: 70px;
}
.second-header__menu {
  display: flex;
}
.menu-item {
  font-size: 1.4rem;
  font-weight: 500;
  margin-right: 10px;
}
.menu-item-link {
}
