/* Init */
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: var(--text-color);
}

/* Header */
#header {
  background-color: var(--primary-color);
}

.grid {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-wrapper {
  margin: 10px 0;
}

.nav {
  display: flex;
}

.nav li {
  margin: 0 10px;
}

img {
  width: 300px;
}
