/* Init */
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

/* Header */
#header {
}
.navbar {
  display: flex;
  justify-content: space-between;
}
.navbar__brand-img-link {
}
.navbar__brand-img {
  width: 200px;
}
.navbar__menu {
  display: flex;
}
.navbar__menu-item {
}
.navbar__menu-item-link {
}
.navbar__login {
}
.navbar__login-item {
}
.navbar__login-link {
}
