/* Init */
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: var(--text-color);
}

/* Header */
#header {
  background-color: var(--primary-color);
}

#header > .grid {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  width: 70px;
}
.header__heading {
}
.header__socials-wrapper {
}
.header__socials-link {
}
