/* Init */
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: var(--text-color);
}

/* Header */
#header {
  background-color: var(--primary-color);
}

.header__logo-wrapper {
}
.header__logo {
}
.header__heading {
}
.header__socials-wrapper {
}
.header__socials-link {
}
